{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}
<link rel="shortcut icon" href="{%  static 'gitty.png' %}">
<div style="background: black; padding: 10px 10px 10px 10px;">
<div class="jumbotron">
<a href="/" style="text-decoration: none">
<img src="{% static 'gitty.png' %}" alt="Gitty" class="img-circle" style="width:75px;height:75px; float:left;"/>
</a>
<h1>GittyHub</h1>

<p>Number of requested repo's: {{test|length}}</p>
</div>


{% for proj in test %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"> 
    <h2> <a href={{ proj.html_url }} target="_blank"> {{ proj.name }} </a> 
    <small> 
        <a href={{ proj.html_url }} target="_blank"> 
            <img src={{ proj.owner.avatar_url }} class="img-circle" alt="avatar" style="width:50px;height:50px;"> {{ proj.owner.login }} 
        </a>
    </small> 
    </h2>
    </div>
    <div class="panel-body">
    <div class="container">
    
    <p>Private: {{ proj.private }}</p>
    <p>Program language: {{ proj.language }}</p>
    <p>Description: {{ proj.description }}</p>
    <p>Created on: {{ proj.created_at }}</p>
    <p>Last updated: {{ proj.updated_at }}</p>
    <p>Pushed: {{ proj.pushed_at }}</p>
    <p>Repo id: {{ proj.id }}</p>
    {% buttons %}
    <div class="btn-group">
    <button type="button" class="btn btn-default"><a href="download/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank">Download default branch: {{ proj.default_branch }}</a></button>
    <button type="button" class="btn btn-default"><a href="downloadgit/{{ proj.full_name }}" target="_blank">Download with git</a></button>
    <button type="button" class="btn btn-default"><a href="commit/{{ proj.full_name }}" target="_blank">View commits</a></button>
    <button type="button" class="btn btn-default"><a href="jsonMC/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank">Most commits on {{ proj.default_branch }}</a></button>
    {% endbuttons %}
    <br>
    
    </div>
    </div>
    </div>
    </div>
    </div>
{% endfor %}

<br>
</div>