number of reops: {{test|length}}

<ul>
{% for proj in test %}
    <li><h2>{{ proj.name }}</h2> {{ proj.id }}</li>  
    <li>Private: {{ proj.private }}</li>
    <li>repo URL: <a href={{ proj.html_url }} target="_blank">{{ proj.html_url }}</a></li>
    <li>description: {{ proj.description }}</li>
    <li>created: {{ proj.created_at }}</li>
    <li>updated: {{ proj.updated_at }}</li>
    <li>pushed: {{ proj.pushed_at }}</li>
    <li>language: {{ proj.language }}</li>
    <li>default_branch: <a href="download/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank">{{ proj.default_branch }}</a></li></li>
    <li>number of commits: {{commit|length}}</li>
       <ul>
       {% for com in commit %}
        <li>sha: {{ com.sha }}</li>
        <li>message: {{ com.message }}</li>
       {% endfor %}
       </ul>
    
    <a href={{ proj.html_url }} target="_blank">
    <li>owner: <img src={{ proj.owner.avatar_url }} alt="avatar" style="width:50px;height:50px;"> {{ proj.owner.login }}</li>
    </a>
    
    <br>
{% endfor %}
</ul>