{% load staticfiles %}
<script type="text/javascript" src="{{ STATIC_URL }}static/jquery-1.12.3.min.js"></script>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<link rel="shortcut icon" href="{%  static 'gitty.png' %}">
<div style="background: black; padding: 10px 10px 10px 10px;">
<div class="jumbotron">
<a href="/" style="text-decoration: none">
<img src="{% static 'gitty.png' %}" alt="Gitty" class="img-circle" style="width:75px;height:75px; float:left;"/>
</a>
<h1>GittyHub</h1>

<p>Number of requested repo's: {{r|length}}</p>
</div>


{% for proj in r %}
{% if proj.private != None %}
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"> 
    <h2> <a href={{ proj.html_url }} target="_blank"> {{ proj.name }} </a> 
    <small> 
        <a href={{ proj.html_url }} target="_blank"> 
            <img src={{ proj.owner.avatar_url }} class="img-circle" alt="avatar" style="width:50px;height:50px;"> {{ proj.owner.login }} 
        </a>
    </small> 
    </h2>
    </div>
    <div class="panel-body">
    <div class="container">
    <p>Private: {{ proj.private }}</p>
    <p>Program language: {{ proj.language }}</p>
    <p>Description: {{ proj.description }}</p>
    <p>Created on: {{ proj.created_at }}</p>
    <p>Last updated: {{ proj.updated_at }}</p>
    <p>Pushed: {{ proj.pushed_at }}</p>
    <p>Repo id: {{ proj.id }}</p>
    {% buttons %}
    <div class="btn-group">
    <a href="download/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank" role="button" class="btn btn-default">Download default branch: {{ proj.default_branch }}</a>
    <a href="downloadgit/{{ proj.full_name }}" target="_blank" role="button" class="btn btn-default">Download with git</a>
    <a href="commit/{{ proj.full_name }}" target="_blank" role="button" class="btn btn-default">View last 30 commits</a>
    <a href="allcommit/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank" role="button" class="btn btn-default">View all commits</a>
    <a href="jsonMC/{{ proj.full_name }}/{{ proj.default_branch }}" target="_blank" role="button" class="btn btn-default">Most commits on {{ proj.default_branch }}</a>
    {% endbuttons %}
    <br>
    </div>
    </div>
    </div>
    </div>
    </div>  
{% endif %}
{% if proj.documentation_url == "https://developer.github.com/v3/#rate-limiting" %}
<div class="panel-group">
    <div class="panel panel-danger">
        <div class="panel-heading"> 
    <h2>
        Max requests reached
    </h2>
        </div>
    <div class="panel-body">
    <div class="container">

    <div class="alert alert-warning">
        <p>60 requests an hour have been reached.
           Please log in with your github account for 5000 requests an hour </p>
    </div>
        <br>
    
    </div>
    </div>
    </div>
    </div>
{% endif %}
{% if proj.private == None and proj.documentation_url == None %}
<div class="panel-group">
    <div class="panel panel-warning">
        <div class="panel-heading"> 
    <h2>
        Error url
    </h2>
        </div>
    <div class="panel-body">
    <div class="container">

    <div class="alert alert-warning">
        <p>The url in the list is not correct.</p>
    </div>
        <br>
    
    </div>
    </div>
    </div>
    </div>
{% endif %}
{% endfor %}
<br>
</div>