{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}
<link rel="shortcut icon" href="{%  static 'gitty.png' %}">
<div style="background: black; padding: 10px 10px 10px 10px;">
<div class="jumbotron">
<img src="{% static 'gitty.png' %}" alt="Gitty" class="img-circle" style="width:75px;height:75px; float:left;"/>
<h1>GittyHub</h1>
</div>

<div class="alert alert-success">
 <p>Download has started from {{owner}}'s project {{repo}} the {{fork}} version.</p>
</div>
<br>
</div>