{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load staticfiles %}
<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>
<link rel="shortcut icon" href="{%  static 'gitty.png' %}">



<div style="background: black; padding: 10px 10px 10px 10px;">
<div class="jumbotron">   
    <img src="{% static 'gitty.png' %}" alt="Gitty" class="img-circle" style="width:75px;height:75px; float:left;"/>
    <h1>GittyHub</h1>
</div>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"> <h3>Add repo's from github</h3></div>
        <div class="panel-body">     
            <form action="/" method="POST" class="form">    
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% buttons %}
                    <button type="submit" name="add" class="btn btn-primary">
                        {% bootstrap_icon "plus" %} add
                    </button>
                {% endbuttons %}
            </form>
            <br>
            <u><h4>List of repo's</h4></u>
            {% if mylist %}
            {% for myl in mylist %}  
                    <ul>{{myl}}</ul>
            {% endfor %}
            {% endif %}
            {% if not mylist %}
                <div class="alert alert-warning">
                    <p>The list is empty.</p>
                </div>
            {% endif %}
            <br>
            <form action="/" method="POST" class="form">
                {% csrf_token %}
                {% buttons %}
                    <div class="btn-group">
                    <button type="submit" name="clean" class="btn btn-danger">
                        {% bootstrap_icon "remove" %} Reset list
                    </button>
                    <button type="submit" name="pop" class="btn btn-warning">
                        {% bootstrap_icon "remove" %} remove last entry
                    </button>
                    <button type="submit" name="getrepo" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} Get repo's fron list
                    </button>
                    {% if err.0 == "Your loged in" %}
                    <button type="submit" name="myrepo" class="btn btn-primary">
                        {% bootstrap_icon "ok" %} View own repo's
                    </button>
                    {% endif %}
                    </div>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
<br>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><h3> Login to github</h3> </div>
        <div class="panel-body">  
             {% if err %}
             <div class="{{err.1}}">
                <p>{{err.0}}.</p>
             </div>
             {% endif %}
             {% if err.0 != "Your loged in" %}
             <form action="/" method="POST" class="log">
                {% csrf_token %}
                {% bootstrap_form log layout='inline' %}
                {% buttons %}
                    <button type="submit" name="submit" class="btn btn-primary">
                        {% bootstrap_icon "log-in" %} Login
                    </button>
                {% endbuttons %}
             </form>
             {% endif %}
             {% if err.0 == "Your loged in" %}
             <form action="/" method="POST" class="log">
                {% csrf_token %}
                {% buttons %}
                    <button type="submit" name="logout" class="btn btn-warning">
                        {% bootstrap_icon "log-out" %} Logout
                    </button>
                {% endbuttons %}
             </form>
             {% endif %}
             
        </div>
    </div>
</div>
<br>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"><h3> Hard rest</h3> </div>
        <div class="panel-body">  
             <form action="/" method="POST" class="log">
                {% csrf_token %}
                {% buttons %}
                    <p> Reset the app (drasstic logoff)</p>
                    <button type="submit" name="rest" class="btn btn-warning">
                        {% bootstrap_icon "log-out" %} Hard reset
                    </button>
                {% endbuttons %}
             </form>      
        </div>
    </div>
</div>
<br>







</div>
example input: 
https://api.github.com/repos/octokit/octokit.rb
https://github.com/octokit/octokit.rb
https://github.com/octokit/octokit.rb.git