{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<script type="text/javascript">
if(document.getElementById("id_getjson").value == ""){
document.getElementById("id_getjson3").style.display="block";
}
</script>


<div style="background: black; padding: 10px 10px 10px 10px;">
<div class="jumbotron">
{% load staticfiles %}
<img src="{% static 'gitty.png' %}" alt="Gitty" class="img-circle" style="width:75px;height:75px; float:left;"/>
<h1>GittyHub</h1>
</div>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading"> </div>
  
   <div class="panel-body">     
<form action="/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form layout='inline' %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
    </div>
    </div>
    </div>
<br>
</div>
example: https://api.github.com/orgs/octokit/repos

<script type="text/javascript" src="//code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($){
    $('.my-form .add-box').click(function(){
        var n = $('.text-box').length + 1;
        var box_html = $('<p class="text-box"><label for="box' + n + '">Box <span class="box-number">' + n + '</span></label> <input type="text" name="boxes[]" value="" id="box' + n + '" /> <a href="#" class="remove-box">Remove</a></p>');
        box_html.hide();
        $('.my-form p.text-box:last').after(box_html);
        box_html.fadeIn('slow');
        return false;
    });
});
</script>

<div class="my-form">
    <form role="form" method="post">
        <p class="text-box">
            <label for="box1">Box <span class="box-number">1</span></label>
            <input type="text" name="boxes[]" value="" id="box1" />
            <a class="add-box" href="#">Add More</a>
        </p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</div>
